@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,900;1,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

/* //auth part main*/
.auth-container {
  width: 100%;
  /* background-image: url("./components/auth/waves.svg"); */
  /* background-image: url("./components/auth/waves.svg");
  background-repeat: no-repeat; */
  /* #ffd700 */
  /* background-color: #ffd900d5; */
  background-color: rgba(255, 255, 0, 0.849);
  width: 100vw;
  max-width: 100%;
  height: 40vh;
  position: relative;

  /* border: 2px solid black; */
}

.auth-container .auth-title {
  font-size: 3rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.945);
  position: absolute;
  top: 10%;
  left: 5%;
}

.auth-container .click {
  position: absolute;
  bottom: -15%;
  left: 10%;
}
.signin-container-main {
  /* border: 1px solid black; */
  padding: 2rem;
  position: relative;
  top: 50%;
}
.signup-container-main {
  /* border: 1px solid black; */
  padding: 2rem;
  position: relative;
  top: 50%;
}

@media (max-width: 500px) {
  .auth-container {
    background-size: 200%;
    background-position: 50% 0%;
  }
}
@media (max-width: 360px) {
  .auth-container {
    background-size: 300%;
    background-position: 50% 0%;
  }
}

/* //signIn container  */

.signin-container h1 {
  margin: 0.5rem 0;
}
.signin-container input {
  margin: 0.5rem 0.2rem;
  padding: 0.4rem;
  border-radius: 5px;
}

.signin-container input::placeholder {
  padding: 0.4rem 0.5rem;
}
.signin-container .signinBtn {
 color: white;
 background: black;
 padding: 0 1rem;
 border-radius: 10px;
 font-size: 4rem;
 font-weight: 900;
 letter-spacing: 2px;
 cursor: pointer;
}

/* //main-container */
.header {
  background: rgba(255, 255, 0, 0.849);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.header h2 {
  margin-top: 0.4rem;
}
.header h2,
.logoutIcon {
  margin: 0 0.7rem;
}

.header h3 span {
  margin: 0 0.4rem;
}

.logOutIcon {
  background: black;
  color: white;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.logOutIcon:hover {
  background: rgba(0, 0, 0, 0.671);
}

/* //addQuote container */

.input-container {
  padding: 1.3rem;
  background: white;
  display: flex;
  flex-direction: column;
}

.input-container input[type="text"] {
  padding: 1rem 0.5rem;
  word-break: break-all;
  position: relative;
  margin: 0.5rem 0;
  border: none;
  outline: none;
  font-size: 1.3rem;
  border: 1px solid lightslategray;
  border-radius: 10px;
}

.input-container input::placeholder {
  font-size: 1.1rem;
}
.input-container input:focus::placeholder {
  color: black;
  font-size: 1.2rem;
  transition: 0.2s ease all;
}

.input-container button {
  width: 40%;
  border: none;
  outline: none;
  padding: 0.9rem 1rem;
  margin: 0.5rem 0;
  background: black;
  color: yellow;
  font-weight: 600;
  border-radius: 10px;
  transition: 0.3s ease all;
  cursor: pointer;
}

.input-container button:hover {
  padding-right: 3rem;
}

/* //quoteList container */
.quoteList-container {
  background:  rgba(255, 255, 0, 0.918);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quoteList {
  width: 70%;
  border: 1px solid rgb(150, 134, 246);
  border-radius: 10px;
  padding: 1rem;
  margin: 0.8rem;
  position: relative;
}

.quoteList:first-child {
  margin-top: 1.7rem;
}

.quoteList:last-child {
  margin-bottom: 1.7rem;
}

.quoteList .delBtn {
  color: white;
  background: black;
  cursor: pointer;
  text-align: center;
  padding: 0.3rem;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -14%;
  right: -3%;
  border-radius: 10px;
  transition: 0.3s ease all;
}
.quoteList .delBtn:hover {
  transform: scale(1.2);
}

.quote,
.tags {
  padding: 0.4rem 0;
}
